@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background:rgb(5, 8, 22);
  --text:rgb(226, 228, 237);
  --card:#151030
}



body {
  color: var(--text);
  background: var(--background)
    
}
